body{
	margin: 0;
	padding: 0;
	font-family: Raleway,News Cycle,Helvetica,Arial,sans-serif;
	/*overflow-x: hidden;*/
}

h1,h2,h3,h4,h5,p{
  margin-bottom: 0;
}
a,a:visited{
  color: #333;
  text-decoration: none;
}

a:hover, a:focus{
  color:blue;
    text-decoration: none;
}


.yellow{
	color: yellow;
}
.red{
  color: red;
}
.green{
  color: green;
}
.show{
	display: block!important;
}
.br-1{
	border-right: 1px solid #ccc!important;
}
.bb-1{
	border-bottom: 1px solid #ccc!important;
}
.w-60{
	width: 60%!important;
}
.w-85{
	width: 85%!important;
}
.w-15{
	width: 15%!important;
}
.hidden{
  display: none;
}
.p-relative{
  position: relative;
}
.justify-between{
  justify-content: space-between!important;
}
.justify-center{
  justify-content: center!important;
}
.blue-link, .blue-link:visited{
  color:blue;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  border:none;
}
.blue-link:hover,.blue-link:focus{
  color:#333;
  border:none;
    text-decoration: none;
}
.blue-title-link, .blue-title-link:visited{
  color:blue;
  border-bottom:none;
  text-decoration: none;
}
.blue-title-link:hover, .blue-title-link:focus{
  color:#333;
  border-bottom:none;
  text-decoration: none;
}
.bg-pattern{
	background-image: url('/images/pattern-waves.svg');
	background-repeat: repeat;
    background-size: 126px 21px;
}
.hover-scale{
	-webkit-transition: transform 0.3s linear;
	-moz-transition: transform 0.3s linear;
	-o-transition: transform 0.3s linear;
	-ms-transition: transform 0.3s linear;
	transition: transform 0.3s linear;
}
.hover-scale:hover,
.hover-scale:focus{
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	border:1px solid #ccc;
}
.my-input{
  border-radius: 0px;
  border:none!important;;
  border-bottom: 1px solid #ccc!important;
  outline: 0px!important;
  -webkit-appearance: none;
}
.my-input:focus,
.my-input:hover{
  outline: 0px!important;
  -webkit-appearance: none!important;
  box-shadow: none!important;
  border: none!important;
  border-bottom: 1px solid blue!important;
}
.rating-empty,
.rating-full{
	background-size: 80px 19px;
	height: 19px;
	margin: 0 .23438rem -2px 0;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.rating-empty{
	background-image: url('/images/icon-stars-empty.svg');
}
.rating-full{
	background-image: url('/images/icon-stars-full.svg');
}
.input-select-text{
	position: relative;
	display: block;
	width: 100%;
	min-height: 37px;
	cursor: pointer;
}
.input-select-text:focus ~ .input-select-options{
	display: block;
}
.input-select-options{
	display: none;
	width: 100%;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	height: 120px;
	background-color: #fff;
}

.input-select-options .input-select-option{
	display: block;
	width: 100%;
	position: relative;
}
.input-select-option:hover{
	background-color: #cccccc;
}


/*  */
.header{
	width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.header .top-nav a {
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}
.header .site-logo{
  max-height: 70px;
  position: relative;
  display: flex;
  align-items: center;
}
.header .site-logo img{
  height: 60px;
}
.header .site-logo h4{
  display: inline-block;
  padding-left: 10px;
}
.header .bottom-nav{
  margin-top: 15px;
}
.header .bottom-nav a{
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 0px solid blue;
}
.header .bottom-nav a:hover{
  border-bottom: 2px solid blue;
}
.header .row:last-of-type{
  height: 51px;
}
/*  */
.banner-container{
  width: 100%;
  max-height: 550px;
  overflow: hidden;
}
.banner-container .site-banner{
  width: 100%;
  height:100%;
  position: relative;
}
.banner-container .site-banner:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.banner-container .site-banner img{
  width: 100%;
  height:550px;
}

/*  */
.call-to-action{
  width: 100%;
  height: 100%;
}
.call-to-action .call-to-action-row{
  	justify-content: center;
  	display: flex;
  	background: #0078bf;
  	width: 100%;
  	margin: 0;
}
.call-to-action .call-to-action-row .call-to-action-inner{
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    color: #fff;
}
.call-to-action .call-to-action-block{
    border-right: 1px solid #aaa;
    margin-top: 25px;
    margin-bottom: 25px;
}
.call-to-action .call-to-action-block:last-of-type{
  	border-right: none;
}

.call-to-action .call-to-action-block .btn{
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 2px; 
}
/*  */

.services{
  width: 100%;
  position: relative;
}
.services .services-block{
  position: relative;
  width: 100%;
  margin: 25px 0;
}
.patients-container, .doctors-container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.patients-container img, .doctors-container img{
  width: 55px;
}


.front-blog-container,
.blog-container{
  width: 100%;
  position: relative;
}
.front-blog-container .front-blog-block,
.blog-container .top-blog-block{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.front-blog-container .front-blog-block .blog-img,
.front-blog-container .front-blog-block .blog-img img,
.blog-container .top-blog-block .blog-img,
.blog-container .top-blog-block .blog-img img{
  width: 100%;
  height: 200px;
}


.front-contact{
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  color: #fff;
}
.front-contact .front-contact-block{
  text-align: center;
}
.front-contact .front-contact-block a{
  color: blue !important;
  border-bottom:0px;
  font-size: 25px;
}



.front-social{
  width: 100%;
  min-height: 50px;
  text-align: center;
  padding: 25px 0;
  background: #f5f5f5;
}

.front-social .fa{
  font-size: 19px;
  border-radius: 50%;
  background: #aaa;
  padding: 12px 15px;
  margin: 0 2px;
  color: #fff;
}

.search-doctor-container,
.search-location-container,
.search-container,
.login-container,
.register-container,
.blog-container,
.alerts-container,
.contact-container,
.patients-visitors-container,
.reports-container,
.services-container,
.profile-container{
	width: 100%;
	display: block;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eee;
}
.search-doctor-form-container,
.search-location-form-container,
.search-form-container{
	position: relative;
    display: block;
}
.search-doctor-form-container input[name="search-doctor"],
.search-location-form-container input[name="search-location"],
.search-form-container input[name="s"]{
	width: 100%;
    height: 50px;
    padding-left: 30px;
    position: relative;
}
.search-doctor-form-container .fa.fa-search,
.search-location-form-container .fa.fa-search,
.search-form-container .fa.fa-search{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 25px;
    font-size: 22px;
    top: 14px;
    left: 6px;
    color: #ccc;
}

.profile-user-info{
  display: flex;
  position: relative;
  width: 100%;
}
.profile-name{
  padding: 10px;
}
.profile-image{
  max-height: fit-content;
}
.profile-content{
  width: 100%;
  position: relative;
  display: block;
  padding: 0 15px;
}
.info-block{
  margin-top: 40px;
  margin-bottom: 40px;
}
.info-block > .title{
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}
.info-block > .desc{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}
.profile-education-block{
  display: block;
  margin: 25px 0;
  padding: 15px;
}
.search-doctor-results{
	display: block;
	position: relative;
	width: 100%;
}
.search-doctor-results-container-after:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}
.search-doctor-left{
 	position: relative;
    width: 100%;
    display: flex;
}
.search-doctor-picture{
	width: 35%;
}
.search-doctor-picture img{
	width: 100%;
	height: 100%;
}
.search-doctor-rating-container{
	width: 65%;
}
.search-doctor-rating_avg{
  display: inline-block;
  font-weight: 700;
  margin: 0;
}

.search-doctor-rating-stars{
	position: relative;
	display: inline-block;
	width: 80px;
    height: 19px;
}

.appointment-btn{
    display: block;
    font-weight: 700;
    font-size: .8125rem;
    line-height: 1.125rem;
    padding: .65625rem 1.125rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #0078bf;
    border: 1px solid #0078bf;
    border-radius: 3px;
    color: #eee!important;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    vertical-align: middle;
}
.appointment-btn:hover{
    background: #0078bc;
    color: #fff!important;
}

.blog-post{
  margin: 55px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.blog-post:first-of-type {
    margin: 100px 0 55px;
}
.blog-post:last-of-type{
  border:0;
}
.blog-post a{
  color:#609dff;
}
.blog-post a:hover{
  text-decoration: underline!important;
  color:#2176ff;
}
.blog-image {
    display: block;
    position: relative;
    padding: 0 15px;
}
.blog-title {
    margin: 5px 0;
    text-align: center;1
}


.widgets-area {
  margin: 100px 0;
}
.widgets-area .widget {
  padding: 5px;
}
.widgets-area .widget .widget-title {
    display: block;
    position: relative;
    font-weight: 600;
    color: #444;
    font-size: 26px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}
.widgets-area .widget .widget-content {
    padding: 5px 10px;
    font-size: 18px;
}
.widgets-area .widget .widget-content li {
    list-style-type: none;
    padding-left: 7px;
    margin: 5px 0;
}
.widgets-area .widget .widget-content li  a{
    list-style-type: none;
    padding-left: 7px;
    margin: 5px 0;
}
.widgets-area .widget li a{
  color:#609dff;
}
.widgets-area .widget li a:hover{
  text-decoration: underline!important;
  color:#2176ff;
}
.profile-schedule table th,
.profile-schedule table td{
  padding: 5px;
}




.profile-nav-left{
  padding: 5px;
  position: relative;
  display: block;
  width: 100%;
}
.profile-nav-btn{
  width: 100%;
  position: relative;
  /* margin-bottom: 5px; */
  border-bottom: 1px solid #ccc;
  padding: 8px;
  font-size: 22px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.profile-nav-btn:first-of-type {
  border-top: 1px solid #ccc;
}
.profile-nav-btn.active {
  background: #eee;
}
.profile-content-title{
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.profile-field-row{
  position: relative;
}
.profile-remove-dp-btn {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 3px;
    display: none;
}
.profile-field-row:hover > .profile-edit-btn,
.profile-image:hover > .profile-edit-dp-btn,
.profile-image:hover > .profile-remove-dp-btn{
  display: block;
}
.profile-edit-btn,
.profile-edit-dp-btn{
  display: none;
  position: absolute;
  cursor: pointer;
}
.profile-edit-btn{
  right: -5px;
  top: 10px;
}
.profile-edit-dp-btn{
  right: 0;
  left: 5px;
}

.alert-slide {
    padding: 25px;
    display: block;
    width: 100%;
}
.alert-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
}

.alert-elem.name {
    font-size: 40px;
}
.alert-elem.area {
    font-size: 35px;
}
.alert-elem.counter {
    font-size: 30px;
}

.alert-elem.red{
  text-shadow: 0 0 2px red;
}

.alert-elem.green{
  text-shadow: 0 0 2px green;
}

.alert-elem.blue{
  text-shadow: 0 0 2px blue;
}

.blue{
  color:blue;
}

.redglow{
  text-shadow: 0 0 10px red;
}


.bg-blue{
  background-color:lightblue;
}


/*  CHAT */


.chat-view-messages {
    display: block;
    position: relative;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-user-list-view {
    display: block;
    position: relative;
}

.chat-user{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.chat-user-message {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0px;
}
.chat-user-message > p:first-of-type{
  font-size: 16px;
}

.chat-user-message.chat-text-left {
    text-align: left;
    background-color: lightblue;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    width: fit-content;
    padding-right: 10px;
    float: left;
}

.chat-user-message.chat-text-right {
    text-align: right;
    background-color: #ddd;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    width: fit-content;
    padding-right: 10px;
    float: right;
}

.chat-form{
  display: block;
  width: 100%;
  position: relative;
  margin:15px 0;
  border-top: 1px solid #ccc;
  padding:10px 0;
}

.d-flex{
  display: flex;
}
.just-between{
  justify-content: space-between;
}
.clear{
  clear: both;
}
.h-100{
  height: 100%!important;
}
/*  CHAT */



.aplhabetic-letters-inputs {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}
.aplhabetic-letters-inputs:after {
    content: '';
    clear: both;
    display: block;
}
.aplhabetic-letter {
    position: relative;
    padding: 10px 20px;
    border: 1px solid #ccc;
    width: fit-content;
    float: left;
    margin: 7px;
    text-transform: capitalize;
    color: #0078bf;
    cursor: pointer;
}
.aplhabetic-letter:hover{
	background-color: #f1f5f8;
}

.search-doctor-rating-stars-form{
  position: relative;
  display: inline-block;
  width: 80px;
  height: 19px;
  cursor: pointer;
}

.health-library-results-row a{
  color:#609dff;
  font-size: 19px;
}
.health-library-results-row a:hover{
  text-decoration: underline!important;
  color:#2176ff;
}
.footer{
	padding-top: 20px;
  	padding-bottom: 150px;
}
.footer a{
  display: block;
}