html, body {
  margin: 0;
  padding: 0; }

.site-header {
  margin-bottom: 100px;
  padding: 0;
  float: left;
  width: 100%;
  background-color: #333; }
  .site-header .header-title {
    float: left;
    width: 100%;
    padding: 100px 0px; }
    .site-header .header-title h1 {
      color: #aaa;
      text-align: center; }

.site-content {
  margin-bottom: 100px;
  padding: 0;
  float: left;
  width: 100%;
  background-color: #777; }

.site-content .sidebar {
  width: 20%;
  padding: 0;
  margin: 0;
  float: left;
  padding: 25px;
  background-color: #555; }

.site-content .sidebar nav {
  width: 100%;
  background-color: #666; }

.site-content .content {
  width: 72.2%;
  padding: 2%;
  float: left; }

.site-content .content .products {
  width: 100%;
  float: left; }

.site-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left; }

.clear {
  clear: both; }
